ruff>=0.6.4
torch==2.3.0
torchvision>=0.15.0
lightning>=2.0.0
torchmetrics>=0.7.0
pyvista
torch_geometric
hydra-core>=1.3.0
hydra-colorlog>=1.2.0
hydra-optuna-sweeper>=1.2.0
aim
pre-commit
black
isort
flake8
nbstripout
python-dotenv
rich
pytest
sh
pudb
rootutils